/** Darkside or lightside */
#themeIcon_light {
  display: none;
}

#themeIcon_dark {
  display: inline;
}

body.dark #themeIcon_dark {
  display: none;
}

body.light {
  color: black;
  background-color: rgb(238, 245, 251);
}

body.dark {
  color: white;
  background-color: black;
  
}

button {
  padding: 8px 16px;
  font-size: 24px;
  transition: border-radius 1s ease;
}

/** HEADER */

header {
  display: flex;
  gap: 8px;
  justify-content: end;
  padding: 12px;
  background-color: antiquewhite;
}

header a {
}

/** NAVBAR */

nav {
  background-color: rgb(222, 199, 169);
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  align-items: center;
}

nav img {
  height: 40px;
  width: auto;
}
nav a {
  font-size: 20px;
}
