@import "./header_nav.css";
@import "./theme.css";
@import "./button.css;";
@import "./form.css";

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}



card {
  display: flex;
  align-items: center;
}

h2 {
  display: flex;
}
