/** Darkside or lightside */
#themeIcon_light {
    display: none;
  }
  
  #themeIcon_dark {
    display: inline;
  }
  
  body.dark #themeIcon_dark {
    display: none;
  }
  
  body.light {
    color: black;
    background-color: rgb(238, 245, 251);
  }
  
  body.dark {
    color: white;
    background-color: black;
  }

.invert {
    filter: invert();
  }
  